@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

* {
    margin: 0px;
}

body {
    background: rgba(70, 70, 71, 0.7) url(./img/calendar_bg.webp);
    background-blend-mode: darken;
    background-size: cover;
}

h1 {
    font-family: 'Handlee', cursive;
}

.btnCustom {
    padding: 0px;
    border: none;
    background: none;
    margin-left: 15px;
}

.searchBox {
    width: 75%;
    margin: auto;
}

@media (min-width: 768px){
    .searchBox {
        width: 50%;
        margin-right: 0px;
    }
}

@media (min-width: 1200px){
    .searchBox {
        width: 30%;
        margin-right: 0px;
        
    }
}